body {
    overflow-x: hidden;
}

/***** Navbar css *****/
nav.navbar {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

div.body.container-fluid {
    margin-top: 8rem;
}

a.nav-link {
    border-radius: 5px;
}

.navbar-nav a.nav-link.active {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-nav a.nav-link:hover {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/***** End Navbar css *****/
.sub-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.card {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.color-gradient {
    background: linear-gradient(to right, rgb(10, 10, 157), rgb(235, 131, 148), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

/* footer */


.footer {
    background-color: #24292d;
    color: #fff;
    padding: 50px 25px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 300px;
    margin: 10px 0px 20px 140px;
}

.box h3 {
    margin-bottom: 20px;
}

.box a {
    display: block;
    color: #ccc;
    margin-bottom: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.image-section {
    text-align: center;
    margin-top: 60px;
}

.credit {
    text-align: center;
    margin-top: 50px;
    color: #ccc;
}