body {
    overflow-x: hidden;
}

/***** Navbar css *****/
nav.navbar {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

div.body.container-fluid {
    margin-top: 8rem;
}

a.nav-link {
    border-radius: 5px;
}

.navbar-nav a.nav-link.active {
    background-color: white;
    color: black !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-nav a.nav-link:hover {
    background-color: white;
    color: black !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Carousel styles */
#carouselExampleIndicators {
    margin-top: 105px;
    height: 400px;
    /* Adjust top margin to make space for the fixed navbar */
}

/* Model details styles */
#modelDetails {
    margin-top: 200px;
}

.table {
    width: 90%;
    /* Adjust the width as desired */
    margin: 0px auto 20px auto;
    /* Center the table horizontally */
}

.table td,
.table th {
    padding: 15px;
    border-bottom: 1px solid black;
    /* Add border between rows */
    border-right: 1px solid black;
    /* Add border between columns */
    text-align: left;
    /* Align text to the left */
}


#modelName {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

#modelMakeCountry {
    font-weight: bold;
    color: #ff4500;
}

/* footer */


.footer {
    background-color: #24292d;
    color: #fff;
    padding: 50px 25px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 300px;
    margin: 10px 0px 20px 140px;
}

.box h3 {
    margin-bottom: 20px;
}

.box a {
    display: block;
    color: #ccc;
    margin-bottom: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.image-section {
    text-align: center;
    margin-top: 60px;
}

.credit {
    text-align: center;
    margin-top: 50px;
    color: #ccc;
}