body {
    overflow-x: hidden;
}

/***** Navbar css *****/
nav.navbar {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

div.body.container-fluid {
    margin-top: 8rem;
}

a.nav-link {
    border-radius: 5px;
}

.navbar-nav a.nav-link.active {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-nav a.nav-link:hover {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/***** End Navbar css *****/


#section1 {
    background-image: url('bg.jpg');
    background-size: cover;
    /* Make the background image cover the entire container */
    background-position: center;
    position: relative;
    color: white;
    height: 35rem;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


#section1 div.position-absolute {
    bottom: 15%;
}


.btn-watch-film {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-watch-film:hover {
    background-color: white;
    color: black;
}

.quotation {
    border-left: 1px solid black;
    transition: border 0.3s;
}

.quotation:hover {
    border-left: 10px solid black;
}


/* Carousel image styling */
.carousel-item img {
    height: 90vh;
    /* Set carousel height to match section1 */
    object-fit: cover;
}

#section2 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#section2 img {
    border-radius: 10px;
}

div.carousel-caption {
    text-shadow: 1px 1px 5px black;
}

/* footer */


.footer {
    background-color: #24292d;
    color: #fff;
    padding: 50px 25px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 300px;
    margin: 10px 0px 20px 140px;
}

.box h3 {
    margin-bottom: 20px;
}

.box a {
    display: block;
    color: #ccc;
    margin-bottom: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.image-section {
    text-align: center;
    margin-top: 60px;
}

.credit {
    text-align: center;
    margin-top: 50px;
    color: #ccc;
}