/* service.css */

/***** Navbar css *****/
nav.navbar {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

div.body.container-fluid {
    margin-top: 8rem;
}

a.nav-link {
    border-radius: 5px;
}

.navbar-nav a.nav-link.active {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-nav a.nav-link:hover {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/***** End Navbar css *****/
body {
    font-family: 'Roboto', sans-serif;
    /* Use Google Fonts or other custom fonts */
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

.container-fluid {
    padding: 30px 0;
}

/* service.css */

.service {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    height: 100%;
    /* Set a fixed height for consistency */
}

.service h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
    font-weight: bold;
    /* Make the heading bold */
}

.service p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #666;
    font-weight: 400;
}

.service ul {
    list-style-type: none;
    padding: 0;
}

.service ul li {
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    position: relative;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.service ul li:before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #007bff;
    font-weight: bold;
}

.service a {
    color: #007bff;
    text-decoration: none;
}

.service a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* footer */


.footer {
    background-color: #24292d;
    color: #fff;
    padding: 50px 25px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 300px;
    margin: 10px 0px 20px 140px;
}

.box h3 {
    margin-bottom: 20px;
}

.box a {
    display: block;
    color: #ccc;
    margin-bottom: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.image-section {
    text-align: center;
    margin-top: 60px;
}

.credit {
    text-align: center;
    margin-top: 50px;
    color: #ccc;
}